<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<title>고객등록 신청서</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/design.css}"/>
	
</head>

<body>

  <div class="page_header">
    	<div class="toplogo"><a href="#"><img th:src="@{/images/top_logo.jpg}" width="276" height="40" alt="beautifullife"/></a>
      </div>
        <div class="topnav">
        	<ul>
            	<li><a href="#"><img th:src="@{/images/top_menu1.jpg}" width="72" height="24" alt="ArtStory"/></a></li>
                <li><a href="#"><img th:src="@{/images/top_menu2.jpg}" width="76" height="24" alt="ArtStory"/></a></li>
                <li><a href="#"><img th:src="@{/images/top_menu3.jpg}" width="64" height="24" alt="ArtStory"/></a></li>
                <li><a href="#"><img th:src="@{/images/top_menu4.jpg}" width="134" height="24" alt="ArtStory"/></a></li>
                <li><a href="#"><img th:src="@{/images/top_menu5.jpg}" width="99" height="24" alt="ArtStory"/></a></li>
                <li><a href="#"><img th:src="@{/images/top_menu6.jpg}" width="52" height="24" alt="ArtStory"/></a></li>
            </ul>
        </div>
  </div>
     
     <div class="page_subimg">
     	<div class="subimgline"></div>
        <div class="subimg">
        	<div id="apDivSubimg"></div>
       </div>
     </div>

  <div class="page_content">
    	<div class="leftmenu">
   	    	<img th:src="@{/images/left_title.jpg}" width="152" height="24" alt="membership"/> 
        	<ul>
            	<li></li>
            	<li><a href="#">회원가입</a></li>
                <li><a href="#">아이디찾기</a></li>
                <li><a href="#">비번찾기</a></li>
                <li><a href="#">마이페이지</a></li>
                <li><a href="#">1:1문의하기</a></li>
                <li><a href="#">질문내역</a></li>
                <li><a href="#">후기내역</a></li>
                <li><a href="#">쿠폰내격</a></li>
                <li><a href="#">적립금내역</a></li>
            </ul>
        
        
        </div>
        <div class="rightcon">
                <img th:src="@{/images/title1.jpg}" width="464" height="58" alt="고객등록"/>
                <div class="tablestyle">
                    <form th:action="@{/book/add}" method="post">
                    <table width="680" border="0" cellpadding="0" cellspacing="0" id="registerform">
                     	<tr>
                     		<th>아이디</th><th>이름</th><th>저자</th><th>출간일</th><th>삭제</th>
                     	</tr>
                     	<tr th:each="book : ${books}">
                     		<td> <a th:href="@{/book/edit/{id}(id=${book.id})}" th:text="${book.id}"></a> </td>
                     		<td th:text="${book.name}"/>
                     		<td th:text="${book.author}"/>
                     	<!--	<td th:text="${#dates.format(book.published, 'yyyy-MM-dd')}"></td>
                     		  -->
                     		<td th:text="${book.published}"/>  
                     		<td><button type="button" th:onclick="|location.href='@{/book/delete/{id}(id=${book.id})}'|">삭제
                     		</button></td>

                     	</tr>
                     	<tr>
                          <td>신규</td>
                          <td><input type="text" name="name" placeholder="책 이름" required></td>
                          <td><input type="text" name="author" placeholder="저자" required></td>
                          <td><input type="datetime-local" name="published" required></td>
                          <td><button type="submit">추가</button></td>
                       </tr>
                    </table>
                    </form>
                </div>
         </div>
    </div>

</body>
</html>
