<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>테이블샘플1</title>
<link href="sample_style.css" rel="stylesheet" type="text/css">
</head>

<body>
<table width="680" border="0" cellpadding="0" cellspacing="0" id="registerform">
  <tr>
    <th><label for="idfield">*  아이디</label></th>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <th><label for="pwfield">* 비밀번호</label></th>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <th rowspan="2"><label for="emailfield">* 이메일</label></th>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>뉴스를 받으시겠습니까? </td>
  </tr>
  <tr>
    <th>* 관심정보</th>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <th><label for="memo">* 메모</label></th>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td height="30" colspan="2" align="center" class="btnstyle">&nbsp;</td>
  </tr>
</table>
</body>
</html>
